openapi: 3.0.1
info:
  title: Documentacion de Poke - API y FakeStore - API
  description: |
    # ********************
    # CommonMark Syntax 
    # ********************
    # About us
    ## About us
    ### About us
    
    Get tired of **Lorem ipsum data?!**
    Didn't you find any free e-commerce API?!

    FakeStoreApi is a free online REST API that you can use whenever you need _Pseudo-real_ data for your `e-commerce or shopping` website without running any server-side code. It's awesome for teaching purposes, sample codes, tests,  etc.
    
    # Data Types and Formats:
      - ### Number  - ` Float / Double `
      - ### Integer - ` Int32 / Int64 ` 
      - ### String - ` Date / Date-Time / Password / Byte / Binary ` - Keywords: pattern / maxLength minLength
      - ### Boolean - `Files: Binary / Byte`
      - ### Object... `Keywords: readOnly / writeOnly`
        - 
          ```
            type: object
            properties:
              property1:
                type: sometype
          ```
      - ### Array... `Keywords: uniqueItems: true `
        - 
          ```
            type: array
            items:
              type: object
              properties:
                property1:
                  type: sometype
          ```
      - ### Enum
    
    # Categories supported
      - Mobile
        - Apple
        - Samsung
        - Oneplus
      - Laptops
      - Televisions
      - Headphones
      
    # Extra properties
    
      - ## oneOf, anyOf, allOf, not
        - ### Polimorphism and inheritance
        - ### `oneOf - Validates the value against exactly one of the subschemas.`
        - ### `allOf - Validates the value against all the subschemas.` - Inheritance
        - ### `anyOf - Validates the value against any(one or more) of the subschemas.`
        - ### `not - Use to make sure the value is not valid against the specified schema.`

      - ## operationId
        - Identify operation
    
      - ## deprecated
        - Operation that is not in use anymore
    
      - ## Links
        - Links can describe how various values returned by one operation can be used as inpurt for other operations.
    
      - # -X
        - Extensions are custom properties that start with x-. They can be used to describe extra functionality that is not covered by the OAS.
    
      - # externalDocs
        - Object allows referencing an external resource for extended documentation.
      
    ```
      method1(){
        test
      }
    ```
  termsOfService: https://pokeapi.co/about
  
  contact:
    name: PokeAPI
    url: https://pokeapi.co/
    #email:
  
  license:
    name: Licensia open source
    url: https://pokeapi.co/
  
  version: 1.0.0
servers:
  - url: https://pokeapi.co/api/v2/pokemon
    description: Test
  - url: https://{main}/api/{version}/pokemon:{port}
    variables:
      main:
        default: pokeapi.co
        description: url principal
      port:
        enum:
          - "8443"
          - "443"
        default: "8443"
      version: 
        default: v2
  - url: https://fakestoreapi.com/
    description: types of requests
tags:
  - name: PokeAPI
    description: An API related to pokemons.
  - name: FakeStoreAPI
    description: An API related to a variety of requests, very useful.
paths:
  /categories:
    get:
      summary: List all categories
      tags: 
        - PokeAPI
      description: Returns the list of categories supported
      deprecated: true
      responses:
        '200':
          description: A list of categories
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    categoryId:
                      type: integer
                      description: |
                        ***categoryId*** represents `identificator` values when this field is beign sent by PokeAPI.
                    name:
                      type: string #GET Request
  /{id}:
    get:
      summary: Description of a pokemon searched by ID
      tags: 
        - PokeAPI
      description: Returns all information regarding to a specific ID found
      operationId: getSpercificPokemon
      parameters:
        - $ref: "#/components/parameters/specificPokemonIDParam"
          #required: true [ test, test, test]
      responses:
        '200':
          description: Description of a pokemon searched by ID
          content:
            application/json:
              schema:
                type: object
                properties:
                  abilities:
                    type: array
                    items:
                      type: object
                      properties:
                        ability:
                          $ref: "#/components/schemas/Name_and_URL"
                        is_hidden:
                          type: boolean
                        slot:
                          type: integer
                  base_experience:
                    type: integer
                  forms:
                    $ref: "#/components/schemas/Name_and_URL"
                  game_indices:
                    type: array
                    items:
                      properties:
                        game_index: 
                          type: integer
                        version:
                          $ref: "#/components/schemas/Name_and_URL"
                  height:
                    type: integer
                  held_items:
                    type: array
                    items:
                      properties:
                        item:
                          $ref: "#/components/schemas/Name_and_URL"
                        version_details:
                          type: array
                          items:
                            properties:
                              rarity:
                                type: integer
                              version:
                                $ref: "#/components/schemas/Name_and_URL"
                  id:
                    type: integer
                  is_default:
                    type: boolean
                  location_area_encounters:
                    type: string
                  moves:
                    type: array
                    items:
                      properties:
                        move:
                          $ref: "#/components/schemas/Name_and_URL"
                        version_group_details:
                          type: array
                          items:
                            properties:
                              level_learned_at:
                                type: integer
                              move_learn_method:
                                $ref: "#/components/schemas/Name_and_URL"
                              version_group:
                                $ref: "#/components/schemas/Name_and_URL"
                  name:
                    type: string
                  order:
                    type: integer
                  past_types:
                    type: array
                    items:
                      type: string
                    example: []
                  species:
                    $ref: "#/components/schemas/Name_and_URL"
                  sprites:
                    type: object
                    properties:
                      back_default:
                        type: string
                      back_female:
                        type: string
                        example: null
                      back_shiny:
                        type: string
                      back_shiny_female:
                        type: string
                        example: null
                      front_default:
                        type: string
                      front_female:
                        type: string
                        example: null
                      front_shiny:
                        type: string
                      front_shiny_female:
                        type: string
                        example: null
                      other:
                        type: object
                        properties:
                          dream_world:
                            type: object
                            properties:
                              front_default:
                                type: string
                              front_female:
                                type: string
                                example: null
                          home:
                            type: object
                            properties:
                              front_default:
                                type: string
                              front_female:
                                type: string
                                example: null
                              front_shiny:
                                type: string
                              front_shiny_female:
                                type: string
                                example: null
                          official-artwork:
                            type: object
                            properties:
                              front_default:
                                type: string
                              front_shiny:
                                type: string
                      versions:
                        type: object
                        properties:
                          generation-i:
                            type: object
                            properties:
                              red-blue:
                                $ref: "#/components/schemas/generationsV1_BD_BG_BT_FD_FG_FT"
                              yellow:
                                $ref: "#/components/schemas/generationsV1_BD_BG_BT_FD_FG_FT"
                          generation-ii:
                            type: object
                            properties:
                              crystal:
                                type: object
                                properties:
                                  back_default:
                                    type: string
                                  back_shiny:
                                    type: string
                                  back_shiny_transparent:
                                    type: string
                                  back_transparent:
                                    type: string
                                  front_default:
                                    type: string
                                  front_shiny:
                                    type: string
                                  front_shiny_transparent:
                                    type: string
                                  front_transparent:
                                    type: string
                              gold:
                                $ref: "#/components/schemas/generationsV2_BD_BS_FD_FS_FT"
                              silver:
                                $ref: "#/components/schemas/generationsV2_BD_BS_FD_FS_FT"
                          generation-iii:
                            type: object
                            properties:
                              emerald:
                                type: object
                                properties:
                                  front_default:
                                    type: string
                                  front_shiny:
                                    type: string
                              firered-leafgreen:
                                $ref: "#/components/schemas/generationsV3_BD_BS_FD_FS"
                              ruby-sapphire:
                                $ref: "#/components/schemas/generationsV3_BD_BS_FD_FS"
                          generation-iv:
                            type: object
                            properties:
                              diamond-pearl:
                                $ref: "#/components/schemas/generationsV4_BD_BF_BS_BSF_FD_FF_FS_FSF"
                              heartgold-soulsilver:
                                $ref: "#/components/schemas/generationsV4_BD_BF_BS_BSF_FD_FF_FS_FSF"
                              platinum:
                                $ref: "#/components/schemas/generationsV4_BD_BF_BS_BSF_FD_FF_FS_FSF"
                          generation-v:
                            type: object
                            properties:
                              black-white:
                                type: object
                                properties:
                                  animated:
                                    $ref: "#/components/schemas/generationsV4_BD_BF_BS_BSF_FD_FF_FS_FSF"
                                  back_default:
                                    type: string
                                  back_female:
                                    type: string
                                    example: null
                                  back_shiny:
                                    type: string
                                  back_shiny_female:
                                    type: string
                                    example: null
                                  front_default:
                                    type: string
                                  front_female:
                                    type: string
                                    example: null
                                  front_shiny:
                                    type: string
                                  front_shiny_female:
                                    type: string
                                    example: null
                          generation-vi:
                            type: object
                            properties:
                              omegaruby-alphasapphire:
                                $ref: "#/components/schemas/generationsV6_FD_FF_FS_FSF"
                              x-y:
                                $ref: "#/components/schemas/generationsV6_FD_FF_FS_FSF"
                          generation-vii:
                            type: object
                            properties:
                              icons:
                                $ref: "#/components/schemas/generationsV5_FD_FF"
                              ultra-sun-ultra-moon:
                                $ref: "#/components/schemas/generationsV6_FD_FF_FS_FSF"
                          generation-viii:
                            type: object
                            properties:
                              icons:
                                $ref: "#/components/schemas/generationsV5_FD_FF"
                  stats:
                    type: array
                    items:
                      properties:
                        base_stat:
                          type: integer
                        effort:
                          type: integer
                        stat:
                          $ref: "#/components/schemas/Name_and_URL"
                  types:
                    type: array
                    items:
                      properties:
                        slot:
                          type: integer
                        type:
                          $ref: "#/components/schemas/Name_and_URL"
                  weight:
                    type: number #GET Request
                    format: float
  /products: #GET/POST Request
    get:
      summary: List all products
      tags: 
        - FakeStoreAPI
      description: Get all products
      responses:
        '200':
          description: Get all products
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/productsSchema"
    post:
      summary: Add a product
      tags: 
        - FakeStoreAPI
      description: Add different kind of products
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                  example: test product
                price:
                  type: integer
                  example: 13.5
                description:
                  type: string
                  example: 'lorem ipsum set'
                image: 
                  type: string
                  example: https://i.pravatar.cc
                category:
                  type: string
                  example: 'electronic'
      responses:
        '201':
          description: Add a product
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  title:
                    type: string
                  price:
                    type: integer
                  description:
                    type: string
                  image: 
                    type: string
                  category:
                    type: string
  /products/{id}: #GET/PUT/DELETE Requests
    get:
      summary: List a single product
      tags: 
        - FakeStoreAPI
      description: Display the properties of a single product
      parameters:
        - $ref: "#/components/parameters/specificPokemonIDParam"
      responses:
        '200':
          description: List a single product
          content:
            application/json:
              schema: 
                type: array
                items:
                  $ref: "#/components/schemas/productsSchema"
    put:
      summary: Update products
      tags: 
        - FakeStoreAPI
      description: Update different kind of products
      parameters:
        - $ref: "#/components/parameters/specificPokemonIDParam"
      requestBody:
          content: 
            application/json:
              schema:
                type: object
                properties:
                  title:
                    type: string
                    example: test product
                  price:
                    type: integer
                    example: 13.5
                  description:
                    type: string
                    example: 'lorem ipsum set'
                  image: 
                    type: string
                    example: https://i.pravatar.cc
                  category:
                    type: string
                    example: 'electronic'
      responses:
        '200':
          description: Product created successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  title:
                    type: string
                    example: test product
                  price:
                    type: integer
                    example: 13.5
                  description:
                    type: string
                    example: 'lorem ipsum set'
                  image: 
                    type: string
                    example: https://i.pravatar.cc
                  category:
                    type: string
                    example: 'electronic'
    delete:
      summary: Delete products
      tags: 
        - FakeStoreAPI
      description: Delete different kind of products
      parameters:
        - $ref: "#/components/parameters/specificPokemonIDParam"
      responses:
        '200':
          description: Product deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: integer
                  title:
                    type: string
                    example: test product
                  price:
                    type: integer
                    example: 13.5
                  description:
                    type: string
                    example: 'lorem ipsum set'
                  image: 
                    type: string
                    example: https://i.pravatar.cc
                  category:
                    type: string
                    example: 'electronic'
components:
  parameters:
    specificPokemonIDParam:
      name: id
      in: path
      required: true
      schema: 
        type: integer
        minimum: 1
        maximum: 1000
      example: 132
  schemas:
    Name_and_URL:
      type: object
      properties:
        name:
          type: string
        url:
          type: string
    #BD BG BT BS BF BSF FD FG FT FS FF FSF
      #Back Default  - Back Gray  - Back Transparent  - Back Shiny  - Back Female  - Back Shiny Female
      #Front Default - Front Gray - Front Transparent - Front Shiny - Front Female - Front Shiny Female
    generationsV1_BD_BG_BT_FD_FG_FT: 
      type: object
      properties:
        back_default:
          type: string
        back_gray:
          type: string
        back_transparent:
          type: string
        front_default:
          type: string
        front_gray:
          type: string
        front_transparent:
          type: string
    generationsV2_BD_BS_FD_FS_FT: 
      type: object
      properties:
        back_default:
          type: string
        back_shiny:
          type: string
        front_default:
          type: string
        front_shiny:
          type: string
        front_transparent:
          type: string
    generationsV3_BD_BS_FD_FS: 
      type: object
      properties:
        back_default:
          type: string
        back_shiny:
          type: string
        front_default:
          type: string
        front_shiny:
          type: string
    generationsV4_BD_BF_BS_BSF_FD_FF_FS_FSF: 
      type: object
      properties:
        back_default:
          type: string
        back_female:
          type: string
          example: null
        back_shiny:
          type: string
        back_shiny_female:
          type: string
          example: null
        front_default:
          type: string
        front_female:
          type: string
          example: null
        front_shiny:
          type: string
        front_shiny_female:
          type: string
          example: null
    generationsV5_FD_FF:
      type: object
      properties:
        front_default:
          type: string
        front_female:
          type: string
          example: null
    generationsV6_FD_FF_FS_FSF:
      type: object
      properties:
        front_default:
          type: string
        front_female:
          type: string
          example: null
        front_shiny:
          type: string
        front_shiny_female:
          type: string
          example: null
    productsSchema:
      type: object
      properties:
        id:
          type: integer
        title:
          type: string
          example: test product
        price:
          type: integer
          example: 13.5
        description:
          type: string
          example: 'lorem ipsum set'
        category:
          type: string
          example: "men's clothing"
        image: 
          type: string
          example: https://i.pravatar.cc
        rating:
          type: array
          items:
            properties:
              rate:
                type: integer
              count:
                type: integer